
<nav class="navbar navbar-expand-lg navbar-danger bg-danger" style="width:100%;position:fixed;z-index: 9999;">
        <a class="navbar-brand fa fa-play" href="#" style="color: wheat">YOUTUBE</a>
                     <input #search_input class="form-control mr-sm-2" type="search" placeholder="Search your video here..." aria-label="Search">
                        <button (click)="doSearch(search_input.value)" routerLink="/video-list" routerLinkActive="active" style="background: wheat;margin-right: 5px;" class="btn my-2 my-sm-0 fa fa-search" type="submit">Search</button>
                        <button  (click)="doSearch(search_input.value)" routerLink="/profile" routerLinkActive="active" style="background: wheat" class="btn my-2 my-sm-0 fa fa-user" type="submit">User</button>
      </nav>
<div style="padding: 50px;"></div>
<div class="row">
        <div class="col-md-6">
                <iframe type="text/html" width="640" height="360"
                [src]="url+video_id | safe"
                frameborder="0"></iframe>
                <div class="row" style="padding: 2rem;">
                    <textarea #comment rows="4" cols="50" class="mr-sm-2" placeholder="Enter text here..."></textarea>
                    <button class="bg-dark mr-auto" (click)="doComment(comment.value)">Comment</button>
                </div>
            </div>
            <div class="col-md-4">
                <h2>Comments Lists:</h2>

                <ul *ngFor="let comment of Comments">{{comment}}</ul>
            </div>
                
</div>

